* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: #101a24;
}

.heroway-logo {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 250px;
}
