.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(36,58,85);
  background: radial-gradient(circle, rgba(36,58,85,1) 0%, rgba(12,4,18,1) 100%);
}

.machine {
  width: 750px;
  height: 550px;
  background: rgba(12, 4, 18, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.machine .title {
  font-weight: 900;
  margin-top: 40px;
  color: #fff;
}

.slot-machine {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.slots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.slot {
  height: 183px;
  width: 133px;
  background-color: #fff;
  margin: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.slot-item {
  width: 133px;
  height: 133px;
  padding: 20px;
  border-radius: 3px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
}

.balance-box {
  background-color: #fff;
  color: #ff001e;
  width: 300px;
  font-size: 38px;
  font-weight: 900;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.spin-button {
  width: 200px;
  height: 100%;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff001e;
  color: #fff;
  border: 0;
  border-bottom: 8px solid #830211;
  cursor: pointer;
}

.spin-button:disabled {
  cursor: not-allowed;
}


